/* gogle font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


html {
    width: 100%;
    height: 100%;
}
body{
    background-image: url('https://images.unsplash.com/photo-1495571263273-142e4df3ed7b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    
}

.container{
    background-color: rgba(255,255,255, 0.3);
    padding: 30px;
    width: 60%;
    margin: 15% auto;
}

.container .form{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.349);
    width: 70%;
    margin: auto;
    text-align: center; /* SACAR PARA DESCENTRAR */
    
}

.container .form p{
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.container .form input{
    width: 60%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.349);

    border: transparent;
    border-radius: 4px ; 
    
    border-bottom: rgba(240, 151, 78, 0.829) 3px solid;
    border-left: rgba(240, 151, 78, 0.829) 3px solid;

    
}

input:focus {
    border: transparent;
    outline: none; /*  el borde q tiene cuando esta seleccionado   */
}


.container .form form #btn{
    margin: 30px auto;   /* SACAR PARA DESCENTRAR */
    font-family: 'Roboto', sans-serif;
    /* margin-top: 25px; */
    font-size: 2vw;
    padding: 12px;
    width: fit-content;
    background-color: rgba(240, 151, 78, 0.61) ;
    font-weight: 700;
}

.container .form form #btn:hover{
    box-shadow: black 3px 3px 5px;
    cursor: pointer;
}


/* BOTON 2 */

.container .form form #btn2{
    margin: 50px auto;   /* SACAR PARA DESCENTRAR */
    font-family: 'Roboto', sans-serif;
    /* margin-top: 25px; */
    font-size: 2vw;
    padding: 12px;
    /* width: fit-content; */  /* ANCHO DEL TEXTO */
    width: 60%;   /* MISMO ANCHO DEL INPUT */
    background-color: rgba(240, 151, 78, 0.61) ;
    font-weight: 700;
    border: transparent;
    border-radius: 8px ; 
}

.container .form form #btn2:hover{
    box-shadow: black 3px 3px 5px;
    cursor: pointer;
}


